.slider {
  position: relative;
  height: 462px;
  text-align: center;
  background-color: rgba(248, 248, 248, 1);
  overflow: hidden;
}

.slider__list li {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -624px;
  opacity: 0;

  animation-duration: 16.0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

.slider__list li:first-child {
  animation-name: anim_slide_1;
}

.slider__list li:nth-child(2) {
  animation-name: anim_slide_2;
}

.control-slider {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  width: 980px;
  margin-left: -490px;
  margin-top: -30px;
}

.control-slider__item {
  position: relative;
  width: 35px;
  height: 60px;
  background-color: rgba(209, 209, 209, 1);
  cursor: pointer;
}

.control-slider__item--back::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 12px;
  width: 20px;
  height: 20px;
  border: 5px solid rgba(0, 0, 0, 1);
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(-45deg);
}

.control-slider__item--front::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 12px;
  width: 20px;
  height: 20px;
  border: 5px solid rgba(0, 0, 0, 1);
  border-left-color: transparent;
  border-top-color: transparent;
  transform: rotate(-45deg);
}

@keyframes anim_slide_1 {
  0% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  15% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  35% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  62.5% {
    opacity: 0;
  }
  65% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.8;
  }
  87.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim_slide_2 {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0;
  }
  15% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.6;
  }
  35% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  65% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.2;
  }
  87.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
